<!-- photoapp/templates/photoapp/list.html -->
{% extends 'base.html' %}

{% block body %}




<div style="background-color: whitesmoke; height: 400px; width: 300px; float: right" class="border">
  <h2>Activity Feed</h2>
  <ol class="activity-feed">
    <li class="feed-item">
      <time class="date" datetime="9-25">Sep 25</time>
      <span class="text">Responded to need <a href="single-need.php">“Volunteer opportunity”</a></span>
    </li>
    <li class="feed-item">
      <time class="date" datetime="9-24">Sep 24</time>
      <span class="text">Added an interest “Volunteer Activities”</span>
    </li>
    <li class="feed-item">
      <time class="date" datetime="9-23">Sep 23</time>
      <span class="text">Joined the group <a href="single-group.php">“Boardsmanship Forum”</a></span>
    </li>
    <li class="feed-item">
      <time class="date" datetime="9-21">Sep 21</time>
      <span class="text">Responded to need <a href="single-need.php">“In-Kind Opportunity”</a></span>
    </li>
    <li class="feed-item">
      <time class="date" datetime="9-18">Sep 18</time>
      <span class="text">Created need <a href="single-need.php">“Volunteer Opportunity”</a></span>
    </li>
    <li class="feed-item">
      <time class="date" datetime="9-17">Sep 17</time>
      <span class="text">Attending the event <a href="single-event.php">“Some New Event”</a></span>
    </li>
  </ol>
</div>

<div class="row">
  {% for photo in photos %}
  <div class="row">
    <a href="{% url 'photo:detail' photo.id %}" class="d-block mb-4 h-100">
      <img src="{{photo.image.url}}" class="rounded mx-auto d-block img-thumbnail img-fluid" alt="{{photo.title}}" />
    </a>
  </div>
  {% endfor %}
</div>



{% endblock body %}