<!-- photoapp/templates/photoapp/list.html -->
{% extends 'base.html' %}

{% block body %}


<div style="background-color: whitesmoke; height: 400px; width: 300px; float: right" class="border">
  <h2>Activity Feed</h2>
  <ol class="activity-feed">
    {{ photos.values }}
  </ol>
</div>


<div class="row">
  {% for photo in photos %}
  <div class="row">
    <a href="{% url 'photo:detail' photo.id %}" class="d-block mb-4 h-100">
      <img src="{{photo.image.url}}" class="rounded mx-auto d-block img-thumbnail img-fluid" alt="{{photo.title}}" />
    </a>
  </div>
  {% endfor %}
</div>

{% endblock body %}